.top-nav {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: right;
    padding-right: 0.5rem;
    height: 3rem;
    z-index: 2;
    background-color: rgb(60, 60, 202);
    color: antiquewhite;
}

.nav-links {
    grid-column: 3;
    display: flex;
    gap: 1rem;
}
  
.nav-links a {
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    line-height: 1;
}

.navbar-button {
  background: none;
  border: none;
  color: white;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}